form {
    margin-top: 30px;
}

label {
    font-weight: 400;
}

.float-right {
    float: right;
}

footer {
    float: right;
    /* position: fixed;
    bottom: 0;
    right: 0; */
    margin-top: 20px;
    font-family: monospace;
}

.footer-background-color {
    background-color: rgba(162, 154, 158, 0.8);
}

.green-btn {
    background-color: rgba(57, 134, 51, 0.8);
    color: white;
}

.subtitle {
    text-decoration: underline;
    margin: 20px 0px;
}

.must {
    color:red;
}

